* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 15pt;
}

p {
    display: inline-block;
    user-select: none;
}

p:hover {
    color: #000000;
}

span {
    font-size: 8pt;
}

.vertical {
    writing-mode: vertical-lr;
    color: #aaaaaa;
}

.container {
    margin: 10pt 0 0 0;
    padding: 0pt 5pt 10pt 20pt;

    width: 150pt;

    display: inline-block;

    border-style: dashed;
    border-width: 2pt;
    border-radius: 10pt;
    border-color: #aaaaaa;
}

.button {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);

    margin: 10pt 10pt 0 0;
    padding: 5pt 10pt 5pt 10pt;
    width: 110pt;

    display: block;

    user-select: none;
    text-align: center;
    letter-spacing: 0pt;

    background-color: #ecb8a4;
    border-radius: 5pt;
}

.outside {
    margin-left: 22pt;
}

.button:hover {
    background-color: #e64c0c;
}

.button:active {
    background-color: #8d2a00;
}

.expansion:hover {
    letter-spacing: 2pt;
}

.deepening {
    height: 24pt;
}

.deepening:active {
    font-size: 10pt;
}

.disappearing:active {
    color: #8d2a00;
}

.zoom-in:hover {
    transform: scale(1.2);
}

.cinematic:hover {
    transform: scale(1.2) rotate(-3deg);
}

.cinematic:active {
    transform: scale(1.15) rotate(-2deg);
}

.skew:hover {
    transform: skewY(-2deg);
}

.bookmark {
    text-align: left;
}

.bookmark:hover {
    width: 120pt;
}

.backlight:hover {
    background-color: #ecb8a4;
    box-shadow: 10pt 0 #e64c0c;
}

.backlight:active {
    background-color: #e64c0c;
    box-shadow: 10pt 0 #e64c0c;
}

.centering:hover {
    margin-left: 10pt;
}